.item-1 img {
  width: 191px;
  height: 191px;
}

.item-2 img {
  width: 291px;
  height: 291px;
}

.item-3 img {
  width: 291px;
  height: 191px;
}

.item-4 img {
  width: 191px;
  height: 191px;
}

.item-5 img {
  width: 191px;
  height: 290px;
}
